* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Fira Sans", serif;
}

/* website all colors start */
:root {
  --MintFrost: #c6e4d6;
  --TranslucentSky: rgba(84, 144, 245, 0.2);
  --SkylineBlue: #5490f5;
  --Green: #09a15c;
  --WarmVanilla: #f7ebcf;
  --GoldenSun: #ffc239;
  --h1FontColor: #0e0e0e;
  --pFontColor: rgba(14, 14, 14, 0.7);
}
/* website all colors end */

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* nav section start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}

nav .logo {
  color: var(--h1FontColor);
  font-size: 35px;
  font-weight: 700;
}

.sign_in_button {
  color: var(--Green);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid rgb(0, 106, 80);
  background: transparent;
}

.sign_in_button:hover {
  color: black;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid black;
  background: transparent;
  transition: all 0.5s;
}
/* nav section end */

/* hero section start */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MintFrost);
  border-radius: 24px;
  padding: 80px 80px 80px 100px;
  margin: 20px 0 80px 0;
  gap: 64px;
}

.hero h4 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.hero h1 {
  color: var(--h1FontColor);
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 24px;
  line-height: 67px;
}

.explore_button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--Green);
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}

.explore_button:hover {
  background-color: black;
}
/* hero section end */

/* pillars of bangladesh section start  */
.pillars_of_bangladesh {
  margin: 80px 0;
}

.pillars_of_bangladesh h2 {
  color: var(--h1FontColor);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 32px;
}

.pillars_of_bangladesh .cards {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.pillars_of_bangladesh .card {
  width: 302px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px;
}

.pillars_of_bangladesh .card:hover {
  background-color: var(--MintFrost);
}

.pillars_of_bangladesh h4 {
  color: var(--h1FontColor);
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 12px 0;
}

.pillars_of_bangladesh p {
  color: var(--h1FontColor);
  font-size: 16px;
  font-weight: 400;
}
/* pillars of bangladesh section start  */

/* the vision of future start start */
.the_vision_of_future {
  margin: 80px 0 32px 0;
  gap: 24px;
}

.the_vision_of_future h2 {
  color: var(--h1FontColor);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

.the_vision_of_future p {
  color: var(--h1FontColor);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
  line-height: 24px;
}

.the_vision_of_future .card2_p {
  margin-bottom: 28px;
}

.the_vision_of_future .cards {
  display: flex;
  justify-content: space-around;
}

.the_vision_of_future .card {
  width: 410.67px;
  border-radius: 16px;
  padding: 32px;
}

.the_vision_of_future .card1 {
  background: rgba(84, 144, 245, 0.2);
}

.the_vision_of_future .card1:hover {
  background: rgba(24, 89, 203, 0.2);
}

.the_vision_of_future .card2 {
  background: var(--MintFrost);
}

.the_vision_of_future .card2:hover {
  background: #a2d5be;
}

.the_vision_of_future .card3 {
  background: var(--WarmVanilla);
}

.the_vision_of_future .card3:hover {
  background: #efe5c4;
}

.the_vision_of_future h4 {
  color: var(--h1FontColor);
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 12px 0;
}

.learn_more {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--SkylineBlue);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.learn_more:hover {
  color: var(--SkylineBlue);
  background: white;
  transition: all.5s;
}

.learn_more2 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--Green);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.learn_more2:hover {
  color: var(--Green);
  background: white;
  transition: all.5s;
}

.learn_more3 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--GoldenSun);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.learn_more3:hover {
  color: var(--GoldenSun);
  background: white;
  transition: all.5s;
}
/* the vision of future start end */

/* dr. muhammad yunus section start */
.muhammad_yunus {
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  margin: 32px 0 80px 0;
}

.muhammad_yunus .yunus_first_p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: -45px 0 12px 0;
}

.muhammad_yunus h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 4px;
}

.muhammad_yunus p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* dr. muhammad yunus section end */

/* opinion matters section start */
.opinion_matters {
  margin: 80px 0;
}
.tabels {
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 32px;
}

.questions_opinion {
  display: flex;
  justify-content: space-between;
  background-color: var(--MintFrost);
  padding: 24px;
}

.questions_opinion {
  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: 600;
}

.opinion_matters h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}

table {
  border-collapse: collapse;
}

select {
  width: 130px;
  border-radius: 4px;
  background: rgb(198, 228, 214);
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
}

select:hover {
  background: white;
}

td {
  padding: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}

.questions {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}
/* opinion matters section end */

/* recent news section start */
.recent_news {
  padding: 80px 0;
}

.recent_news h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}

.recent_news p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}

.bangladesh_launches_new_satellite {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  padding: 48px;
  background: rgb(255, 255, 255);
  margin-bottom: 24px;
  gap: 32px;
}

.bangladesh_launches_new_satellite .satelite {
  border-radius: 24px;
}

.bangladesh_launches_new_satellite h2 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 12px;
}

.bangladesh_launches_new_satellite .al_jazeera {
  padding-bottom: 12px;
}

.bangladesh_launches_new_satellite h5 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 12px;
}

.bangladesh_launches_new_satellite h6 {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 32px;
}

.read_more {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--Green);
  width: 16%;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.read_more:hover {
  color: white;
  background: black;
  transition: all 0.5s;
}
/* recent news section end */

/* donate today section start */
.donate_today h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
  text-align: center;
}

.donate_today p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
  line-height: 24px;
  text-align: center;
  padding: 0 88px;
  padding-bottom: 32px;
}

.taka_cards {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 0 104.5px;
}

.taka_cards .card {
  color: rgba(14, 14, 14, 0.7);
  font-size: 40px;
  font-weight: 700;
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: white;
  padding-bottom: 32px;
}

.taka_cards .card:hover {
  background-color: var(--MintFrost);
  transition: all 0.5s;
}

.amount_taka {
  text-align: center;
  padding-bottom: 32px;
}

.amount_taka input {
  width: 1030px;
  text-align: center;
  padding: 20px 40px;
  margin-top: 32px;
  border: none;
}

.amount_taka input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
}

.done_now_button {
  display: block;
  text-align: center;
}

.done_now {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  margin-bottom: 80px;
  background: #006a50;
  border-radius: 8px;
  border: none;
}

.done_now:hover {
  color: white;
  background: black;
  transition: al 0.5s;
}
/* donate today section end */

/* subscribe newsletter section start */
.subscribe_newsletter {
  padding: 80px 100px;
  background: var(--MintFrost);
  border-radius: 24px;
  margin: 80px 0;
}

.subscribe_newsletter h2 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 16px;
  text-align: center;
}

.subscribe_newsletter h6 {
  padding: 16px 200px 24px 200px;
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.enail_subscribe_button {
  text-align: center;
  padding-bottom: 24px;
}

.enail_subscribe_button input {
  width: 50%;
  padding: 17px 34px;
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.enail_subscribe_button input:hover {
  border: none;
  outline: none;
}

.enail_subscribe_button input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
}

.subscribe_button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 14.5px 34px;
  border-radius: 0px 8px 8px 0px;
  background: #006a50;
  position: relative;
  border: none;
  right: 5px;
  top: 2px;
}

.subscribe_button:hover {
  color: white;
  background: black;
  transition: all 0.5s;
}

.subscribe_newsletter p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
/* subscribe newsletter section end */
