* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Fira Sans", serif;
}

/* website all colors start */
:root {
  --MintFrost: #c6e4d6;
  --TranslucentSky: rgba(84, 144, 245, 0.2);
  --SkylineBlue: #5490f5;
  --Green: #09a15c;
  --WarmVanilla: #f7ebcf;
  --GoldenSun: #ffc239;
  --h1FontColor: #0e0e0e;
  --pFontColor: rgba(14, 14, 14, 0.7);
}
/* website all colors end */

body {
  max-width: 1280px;
  margin: 0 auto;
}

/* nav section start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}

nav .logo {
  color: var(--h1FontColor);
  font-size: 35px;
  font-weight: 700;
}

.sign_in_button {
  color: var(--Green);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid rgb(0, 106, 80);
  background: transparent;
}
/* nav section end */

/* hero section start */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MintFrost);
  border-radius: 24px;
  padding: 80px 80px 80px 100px;
  margin: 20px 0 80px 0;
  gap: 64px;
}

.hero h4 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.hero h1 {
  color: var(--h1FontColor);
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 24px;
  line-height: 67px;
}

.explore_button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--Green);
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
}

.explore_button:hover {
  background-color: black;
}
/* hero section end */

/* pillars of bangladesh section start  */
.pillars_of_bangladesh {
  margin: 80px 0;
}

.pillars_of_bangladesh h2 {
  color: var(--h1FontColor);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 32px;
}

.pillars_of_bangladesh .cards {
  display: flex;
  justify-content: space-around;
}

.pillars_of_bangladesh .card {
  width: 302px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px;
}

.pillars_of_bangladesh h4 {
  color: var(--h1FontColor);
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 12px 0;
}

.pillars_of_bangladesh p {
  color: var(--h1FontColor);
  font-size: 16px;
  font-weight: 400;
}
/* pillars of bangladesh section start  */

/* the vision of future start start */
.the_vision_of_future {
  margin: 80px 0 32px 0;
}

.the_vision_of_future h2 {
  color: var(--h1FontColor);
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

.the_vision_of_future p {
  color: var(--h1FontColor);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
  line-height: 24px;
}

.the_vision_of_future .card2_p {
  margin-bottom: 28px;
}
.the_vision_of_future .cards {
  display: flex;
  justify-content: space-around;
}

.the_vision_of_future .card {
  width: 410.67px;
  border-radius: 16px;
  padding: 32px;
}

.the_vision_of_future .card1 {
  background: rgba(84, 144, 245, 0.2);
}

.the_vision_of_future .card2 {
  background: var(--MintFrost);
}

.the_vision_of_future .card3 {
  background: var(--WarmVanilla);
}

.the_vision_of_future h4 {
  color: var(--h1FontColor);
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 12px 0;
}

.learn_more {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--SkylineBlue);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.learn_more2 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--Green);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}

.learn_more3 {
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: var(--GoldenSun);
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
}
/* the vision of future start end */
